@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html{
    background-image: url(https://web-assets.esetstatic.com/tn/-x700/wls/2019/08/gamers-cibercriminales.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: rgba(192,192,192, 0.8);
    height: 60px;
    padding-top: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 700%;
}
.contenedor{
    margin: auto;
    width: 98%;
    max-width: 700px;
}
article{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(192,192,192, 0.8);
    border-radius: 5px;
}
p{
    line-height: 2em;
}
#parrafo{
    color: brown;
    background-color: white;
    line-height: 2em;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
}
table{
    margin: auto;
    border-collapse: collapse;
    background-color: #008f8c;
    color: white;
}
tr:nth-child(odd){
    background-color: white;
    color: black;
}
tr, th{
    height: 60px;
    border: 2px solid #008f8c;
}
td{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
img{
    width: 60px;
}
input[type="file"]{
    padding: 5px;
    background-color: #008f8c;
    border-radius: 5px;
    margin-top: 5px;
}
#texto, #exportar{
    padding: 3px 8px;
    background-color: #008f8c;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    line-height: 2em;
}
#texto{
    background-color: white;
    color: black;
}